#nav_bar {
  background-color: black;
  position: fixed;
  margin: 0;
  width: 100%;
  top: 0;
}
#nav_container {
  width: 90%;
  border-radius: 10px;
  border: 5px solid white;
  height: 80px;
  margin : 5px auto 5px auto;
  font-size: 16px;
}

.nav_block {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  list-style-type: none;
}

ul li:first-child {
  font-size: 18px;
}